<div class="flex items-center w-full h-16 bg-colorMenu">
  <div class="flex items-center mt-3 ml-4">
    <img class="w-14 h-14" src="assets/pictures/logo2.png" alt="logo" />
    <span class="ml-4 text-xl text-ColorFontMenu font-fontOrbitron !important">
      DoubleK
    </span>
  </div>

  <div class="flex items-center justify-center flex-grow">
    <button mat-button [matMenuTriggerFor]="menu" class="text-ColorFontMenu">
      Menu
    </button>
    <mat-menu #menu="matMenu" yPosition="below">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu" class="text-ColorFontMenu">
      Menu2
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu" class="text-ColorFontMenu">
      Menu3
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
</div>
