<div class="flex items-center w-full h-20 bg-colorMenu">
  <div class="flex items-center mt-3 mb-3 ml-4">
    <img class="w-14 h-14" src="assets/pictures/logo2.png" alt="logo" />
    <span class="ml-4 text-xl text-ColorFontMenu font-fontOrbitron !important">
      DoubleK
    </span>
  </div>

  <div class="flex items-center justify-center flex-grow p-15">
    <button
      mat-button
      [matMenuTriggerFor]="jordan"
      class="pr-12 uppercase text-ColorFontMenu font-fontMontserrat"
    >
      Jordan
    </button>
    <mat-menu #jordan="matMenu" class="mt-5 bg-colorCream">
      <button mat-menu-item [matMenuTriggerFor]="hommes" class="buttonMenu">
        Hommes
      </button>
      <button mat-menu-item [matMenuTriggerFor]="femmes" class="buttonMenu">
        Femmes
      </button>
    </mat-menu>

    <mat-menu #hommes="matMenu" class="mt-5 bg-colorCream">
      <button mat-menu-item class="buttonSubMenu">Lifestyle</button>
      <button mat-menu-item class="buttonSubMenu">Sport</button>
      <button mat-menu-item class="buttonSubMenu">Basket</button>
    </mat-menu>

    <mat-menu #femmes="matMenu" class="mt-5 bg-colorCream">
      <button mat-menu-item class="buttonSubMenu">Lifestyle</button>
      <button mat-menu-item class="buttonSubMenu">Sport</button>
      <button mat-menu-item class="buttonSubMenu">Basket</button>
    </mat-menu>

    <button
      mat-button
      [matMenuTriggerFor]="nike"
      class="pr-12 uppercase text-ColorFontMenu font-fontMontserrat"
    >
      Nike
    </button>
    <mat-menu #nike="matMenu" class="mt-5 bg-colorCream">
      <button mat-menu-item [matMenuTriggerFor]="hommes" class="buttonMenu">
        Hommes
      </button>
      <button mat-menu-item [matMenuTriggerFor]="femmes" class="buttonMenu">
        Femmes
      </button>
    </mat-menu>

    <mat-menu #hommes="matMenu" class="mt-5 bg-colorCream">
      <button mat-menu-item class="buttonSubMenu">Lifestyle</button>
      <button mat-menu-item class="buttonSubMenu">Sport</button>
      <button mat-menu-item class="buttonSubMenu">Basket</button>
    </mat-menu>

    <mat-menu #femmes="matMenu" class="mt-5 bg-colorCream">
      <button mat-menu-item class="buttonSubMenu">Lifestyle</button>
      <button mat-menu-item class="buttonSubMenu">Sport</button>
      <button mat-menu-item class="buttonSubMenu">Basket</button>
    </mat-menu>

    <button
      mat-button
      [matMenuTriggerFor]="NewBalance"
      class="pr-12 uppercase text-ColorFontMenu font-fontMontserrat"
    >
      New Balance
    </button>
    <mat-menu #NewBalance="matMenu" class="mt-5 bg-colorCream">
      <button mat-menu-item [matMenuTriggerFor]="hommes" class="buttonMenu">
        Hommes
      </button>
      <button mat-menu-item [matMenuTriggerFor]="femmes" class="buttonMenu">
        Femmes
      </button>
    </mat-menu>

    <mat-menu #hommes="matMenu" class="mt-5 bg-colorCream">
      <button mat-menu-item class="buttonSubMenu">Lifestyle</button>
      <button mat-menu-item class="buttonSubMenu">Sport</button>
      <button mat-menu-item class="buttonSubMenu">Basket</button>
    </mat-menu>

    <mat-menu #femmes="matMenu" class="mt-5 bg-colorCream">
      <button mat-menu-item class="buttonSubMenu">Lifestyle</button>
      <button mat-menu-item class="buttonSubMenu">Sport</button>
      <button mat-menu-item class="buttonSubMenu">Basket</button>
    </mat-menu>
  </div>
  <div class="relative">
    <mat-icon class="text-gray-500">search</mat-icon>
    <input
      type="text"
      placeholder="Rechercher une paire..."
      [(ngModel)]="searchQuery"
      class="p-1 border-2 border-solid border-colorCream rounded-[32px] hover:bg-gray-200 text-ColorFontMenu hover:border-colorCream"
    />
  </div>
</div>
