<div class="w-full swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img
        src="../../../assets/pictures/caroussel/CarousselJordan.png"
        alt="Jordan"
      />
    </div>
    <div class="w-full h-full swiper-slide">
      <img
        src="../../../assets/pictures/caroussel/CarousselNike.png"
        alt="Nike"
      />
    </div>
    <div class="w-full h-full swiper-slide">
      <img src="../../../assets/pictures/caroussel/CarousselNB.png" alt="NB" />
    </div>
  </div>
  <!-- Add Pagination -->
  <!-- Add Pagination -->
  <div class="flex justify-center swiper-pagination"></div>
  <!-- Add Navigation -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
