<mat-grid-list cols="3" class="relative ml-14 mr-14">
    <mat-grid-tile>
        <div class="m-4">
            <div class="absolute top-0 left-0 right-0 flex items-center justify-center m-4 border-2 border-black border-solid rounded-t-xl h-14 bg-ColorFontMenu">
                <i class="fa"></i>
            </div>
            <img src="assets/pictures/sneakers/AirJordan3.png" alt="img jordan 3" class="rounded-[32px] border-2 border-solid border-black">
        </div>      
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="m-4">
            <div class="absolute top-0 left-0 right-0 flex items-center justify-center p-4 m-4 border-2 border-black border-solid rounded-t-xl h-14 bg-colorCream">
            
            </div>
            <img src="assets/pictures/sneakers/AirJordan4.png" alt="img jordan 4" class="rounded-[32px] border-2 border-solid border-black ">
        </div>    
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="m-4">
            <div class="absolute top-0 left-0 right-0 flex items-center justify-center p-4 m-4 border-2 border-black border-solid rounded-t-xl h-14 bg-ColorFontMenu">
            
            </div>
            <img src="assets/pictures/sneakers/dunkHigh.png" alt="img dunk high" class="rounded-[32px] border-2 border-solid border-black ">
        </div>    
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="m-4">
            <div class="absolute top-0 left-0 right-0 flex items-center justify-center p-4 m-4 border-2 border-black border-solid rounded-t-xl h-14 bg-colorCream">
            
            </div>
            <img src="assets/pictures/sneakers/dunkLow.png" alt="img dunk low" class="rounded-[32px] border-2 border-solid border-black ">
        </div>    
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="m-4">
            <div class="absolute top-0 left-0 right-0 flex items-center justify-center p-4 m-4 border-2 border-black border-solid rounded-t-xl h-14 bg-ColorFontMenu">
            
            </div>
            <img src="assets/pictures/sneakers/NB530.png" alt="img NB530" class="rounded-[32px] border-2 border-solid border-black ">
        </div>    
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="m-4">
            <div class="absolute top-0 left-0 right-0 flex items-center justify-center p-4 m-4 border-2 border-black border-solid rounded-t-xl h-14 bg-colorCream">
            
            </div>
            <img src="assets/pictures/sneakers/NB550.png" alt="img NB550" class="rounded-[32px] border-2 border-solid border-black ">
        </div>    
    </mat-grid-tile>
</mat-grid-list>
